/playground/
/.idea/
/gfx/
/support/
/__redist/
/mapsExtreme/
/maps/
/soundtrack/
/fx/
/gm/
/manual/
/tmp/
/app/
/binks/
/aiv/
/help/
/commonappdata/
/dxwnd.dll
/extremeTrail.csv
/arrow.cur
/cursor1.cur
/readme_ru.html
/scimitar.ani
/readme_es.html
/shfolder.dll
/delete_not.ani
/cursor2.cur
/cr.tex
/readme_de.html
/faces.bmp
/readme_en.html
/Stronghold_Crusader_Extreme.exe
/nodelete.cur
/readme_it.html
/readme_uk.html
/hand.ani
/ddraw.dll
/dxwnd.dxw
/sword.ani
/binkw32.dll
/readme.doc
/Stronghold Crusader.exe
/unicows.dll
/readme_fr.html
/jester.ani
/Mss32.dll
/delete.ani
/d3d9.dll
/readme_pl.html
/build/
/game_controller.dll
game_controller.o
/docs/build/
/strongmod/version.py
